@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Sarala:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background: linear-gradient(68.15deg, #2F2325 16.62%, #8E5D52 85.61%);
}

/* Header */
.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
}

.header-img {
    height: 72px;
}

.header-menu {
    display: flex;
    gap: 32px;
}

.header-menu-itens {
    font-family: 'Sarala', sans-serif;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 18px;
}


/*  content  */
.content {
    border-top: 0.4px solid #FFF2E7;
    margin-bottom: 48px;
}

.primary-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    font-family: 'Sarala', sans-serif;
}

.primary-written-content {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.primary-content-written-title {
    font-family: 'Righteous', cursive;
    color: #FFF2E7;
    font-weight: 400;
    font-size: 64px;
}

.subtitle-written-primary-content {
    font-weight: 400;
    font-size: 24px;
    color: #FFF2E7;
}

.primary-content-written-button {
    width: 185px;
    height: 50px;

    background-color: #ECD6C4;
    color: #2F2325;
    border: none;
    border-radius: 20px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);

    font-size: 24px;
    text-align: center;
}

.primary-content-written-button:hover {
    transition-delay: 0.1s;
    background-color: #2F2325;
    color: #ECD6C4;
}

.content-primary-img {
    height: 434px;
}

/* secondary */
.secondary-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;

    font-family: 'Sarala', sans-serif;
    font-size: 18px;
    color: #ECD6C4;

    margin-top: 48px;
}

.three-content-written-title {
    font-family: 'Righteous', cursive;
    font-size: 24px;
    font-weight: 400;

    border-top: 0.4px solid #FFF2E7;
    padding-top: 48px;
    margin-bottom: 16px;
}

.graph {
    font-weight: 300;
    color: 
    #ECD6C4;
}

/* footer */
.footer {
    border-top: 0.4px solid #FFF2E7;
    padding: 32px;
}
.img-footer {
    height: 48px;
    display: block;
    margin: 0 auto;
}
